<% include ./partials/header %>
<div class='ui huge header inverted'>All Categories</div>
  <div class="ui equal width center aligned padded grid">
  <div class="row">
    <div class="olive column">
      <a href="/cat/Academics" style="color: white;">Academics</a>
    </div>
    <div class="black column">
      <a href="/cat/Internship" style="color: white;">Internship</a>
    </div>
  </div>
  <div class="row" style="background-color: #869D05;color: #FFFFFF;">
    <div class="column"><a href="/cat/Part-Time" style="color: white;">Part-Time</a></div>
  </div>
  <div class="row">
    <div class="black column">
      <a href="/cat/Full-Time" style="color: white;">Full-Time</a>
    </div>
    <div class="olive column">
      <a href="/cat/Skilled Work" style="color: white;">Skilled Work</a>
    </div>
  </div>
  <div class="row" style="background-color: #869D05;color: #FFFFFF;">
    <div class="column"><a href="/cat/Misc" style="color: white;">Misc</a></div>
  </div>
</div>
<% include ./partials/footer %>