<% include ./partials/header %>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Get Your Sh*t Done !! 
      </h1>
      <h2>Place an Ad</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help Ends Meet</h3>
          <p>You can give your unfinished business to the right indivisual to complete it, who may be qualified to do that. Pay him, and tell what to do. Pretty Stinkin Cool !! Huh. Don't wait just place an online ad and get started...... </p>
          <h3 class="ui header">We help to get you a part-time</h3>
          <p>Need some extra bucks, make use of your qualities to help someone who may be in need of you. Talk to them, and hava money to buy something you always wanted to.<i class="angellist icon"></i></p>
        </div>
        <div class="six wide right floated column">
          <!-- <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image"> -->
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>Crow's</h3>
          <p>Online Ad Agency</p>
        </div>
        <div class="column">
          <h3>"A lot of people depend on you."</h3>
          <p>
            <!-- <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys -->
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">
      <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>
      <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing nothing by providing massive amounts of whitespace and generic content that can seem massive, monolithic and worth your attention.</p>
      <a class="ui large button">Read More</a>
      <h4 class="ui horizontal header divider">
        <a href="#">Case Studies</a>
      </h4>
      <h3 class="ui header">Did We Tell You About Our Bananas?</h3>
      <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really true. It took years of gene splicing and combinatory DNA research, but our bananas can really dance.</p>
      <a class="ui large button">I'm Still Quite Interested</a>
    </div>
  </div>

<% include ./partials/footer %>
